body {
    min-width: 372px;
}

.body-config {
    min-height: 100vh;
}

p { 
    text-align: justify; 
    text-justify: inter-word;
 }

 .truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}